<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhlexpress>
                <version>1.1.0</version>
                <model>Dhl\ExpressRates\Model\Carrier\Express</model>
                <is_online>1</is_online>

                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <logging>0</logging>
                <loglevel>400</loglevel>

                <allowedinternationalproducts>P;D;U</allowedinternationalproducts>
                <alloweddomesticproducts>N</alloweddomesticproducts>
                <packaging_weight>0.0</packaging_weight>
                <cut_off_time>13,00,00</cut_off_time>
                <pickup_time>16,00,00</pickup_time>
                <regular_pickup>0</regular_pickup>
                <terms_of_trade>DDU</terms_of_trade>
                <package_insurance_from_value>0</package_insurance_from_value>

                <title>DHL Express</title>
                <sort_order>0</sort_order>
                <checkout_show_delivery_time>0</checkout_show_delivery_time>
                <showmethod>0</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <round_prices_format>no_rounding</round_prices_format>
                <round_prices_mode>round_up</round_prices_mode>
                <domestic_handling_type>F</domestic_handling_type>
                <international_handling_type>F</international_handling_type>
            </dhlexpress>
        </carriers>
    </default>
</config>
