<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="dhlexpress" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1000" translate="tooltip label comment">
                <label><![CDATA[DHL Express]]></label>

                <!-- Custom information section -->
                <field id="custom_information" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Dhl\ExpressRates\Block\Adminhtml\System\Config\Form\Field\CustomInformation</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>

                <include path="Dhl_ExpressRates::system/100_general_settings.xml"/>
                <include path="Dhl_ExpressRates::system/200_dhl_express_account.xml"/>
                <include path="Dhl_ExpressRates::system/300_shipping_preferences.xml"/>
                <include path="Dhl_ExpressRates::system/400_checkout_presentation.xml"/>
                <include path="Dhl_ExpressRates::system/500_shipping_markup.xml"/>
                <include path="Dhl_ExpressRates::system/600_free_shipping.xml"/>
            </group>
        </section>
    </system>
</config>
